* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    font-family: 'Roboto', sans-serif;
    align-content: center;
    justify-content: center;
}

.art {
    width: 780px;
    min-width: 380px;
    border-radius: 15px;
    margin: 10px;
    padding: 50px;
    background-image: url(img/1.jpeg);
    background-position: center;
    background-size: cover;
    box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.login {
    width: 388px;
    font-size: small;
    margin: 6.5em 12em;
}

.login .intro {
    margin-bottom: 30px;
    font-size: large;
}

.login form input,
.login form button {
    width: 388px;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #D4D7E3;
    border-radius: 8px;
    font-size: small;
}

.login form input {
    background-color: #F7FBFF;
}

.login form button {
    background-color: #162D3A;
    color: #F7FBFF;
    padding: 16px;
}

.login form button:hover {
    background-color: #F7FBFF;
    color: #162D3A;
    padding: 16px;
    transition: 0.3s;
}

.login .forgotPass {
    text-align: right;
    padding-bottom: 30px;
}

.login form p {
    text-align: center;
}

footer {
    margin-top: 90px;
    font-size: small;
    color: #959CB6;
}

@media (max-width: 800px) {
    .container {
        flex-wrap: wrap;
    }

    .art {
        width: 380px;
        height: 180px;
        border-radius: 30px;
    }

    .login {
        min-width: 380px;
        margin: 10px;

        font-size: small;
    }

    .login .intro {
        margin-bottom: 10px;
        font-size: medium;
    }

}